<%= simple_form_for(client) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.input :name,  wrapper_html: { class: 'col s12 m4 l4 field' } %>
    <%= form.input :cpf,   wrapper_html: { class: 'col s12 m4 l4 field' } %>
    <%= form.input :email, wrapper_html: { class: 'col s12 m4 l4 field' } %>
  </div>

  <div class="actions">
    <%= form.submit(t('save'), class: 'waves-effect waves-light btn') %>
  </div>
<% end %>
