<p id="notice"><%= notice %></p>

<h1><%= t('clients.title') %></h1>
<%= link_to t('new'), new_client_path, class: 'waves-effect waves-light btn right' %>
<%= search_form_for @q do |f| %>
  <%= f.search_field :name_or_cpf_or_email_cont %>
  <%= select_tag :per, options_for_select([10, 25, 50, 100], params[:per].present? ? params[:per] : 25), class: "per-select" %>
  <%= f.submit %>
<% end %>
<%= form_tag delete_selected_clients_path, method: :delete do %>
  <%= submit_tag t('delete'), class: 'waves-effect waves-light red btn right' %>


  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= sort_link(@q, :cpf) %></th>
        <th><%= sort_link(@q, :name) %></th>
        <th class="hide-on-med-and-down"><%= sort_link(@q, :email) %></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td>
            <%= check_box_tag 'clients[]', client.id, nil, id: "clients_#{client.id}" %>
            <label for="<%= "clients_#{client.id}" %>"></label>
          </td>
          <td class="hide-on-med-and-down"><%= client.cpf %></td>
          <td><%= link_to client.name, edit_client_path(client) %></td>
          <td class="hide-on-med-and-down"><%= client.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate_entries(@clients) %>
<% end %>
