<h1><%= t('clients.title') %></h1>

<%= button_to_new(new_client_path) %>

<%= search_form(:name_or_cpf_or_email_cont) %>

<%= form_tag delete_selected_clients_path, method: :delete do %>
  <%= button_to_delete_selected %>

  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= sort_link(@q, :cpf) %></th>
        <th><%= sort_link(@q, :name) %></th>
        <th class="hide-on-med-and-down"><%= sort_link(@q, :email) %></th>
        <th><%= t('activerecord.models.order.other') %></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td>
            <%= check_box_tag 'clients[]', client.id, nil, id: "clients_#{client.id}" %>
            <label for="<%= "clients_#{client.id}" %>"></label>
          </td>
          <td class="hide-on-med-and-down"><%= client.cpf %></td>
          <td><%= link_to client.name, edit_client_path(client) %></td>
          <td class="hide-on-med-and-down"><%= client.email %></td>
          <td><%= link_to client.orders.count, orders_path(q: { client_id_eq: client.id }) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate_entries(@clients) %>
<% end %>
