<h1><%= t('orders.title') %></h1>

<%= button_to_new(new_order_path) %>

<%= render 'search_form', search: :date_or_client_name_or_client_email_or_client_cpf_or_product_orders_product_name_or_product_orders_product_barcode_cont %>

<%= form_tag delete_selected_orders_path, method: :delete do %>
  <%= button_to_delete_selected %>

  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= sort_link(@q, :status) %></th>
        <th><%= sort_link(@q, :date) %></th>
        <th><%= sort_link(@q, :client_name) %></th>
        <th><%= t('activerecord.attributes.order.itens') %></th>
        <th><%= t('activerecord.attributes.order.price') %></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td>
            <%= check_box_tag 'orders[]', order.id, nil, id: "orders_#{order.id}" %>
            <label for="<%= "orders_#{order.id}" %>"></label>
          </td>
          <td><%= status_badge(order) %></td>
          <td><%= l order.date %></td>
          <td><%= order.client.name %></td>
          <td><%= order.itens %></td>
          <td><%= number_to_currency order.full_price %></td>
          <td>
            <%= link_to mi.mode_edit, edit_order_path(order), class: 'waves-effect waves-light btn green left' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate_entries(@orders) %>
<% end %>
