<%= simple_form_for(product) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <%= form.input :barcode, wrapper_html: { class: "col s12 m3 l3 field" } %>
    <%= form.input :name, wrapper_html: { class: "col s12 m7 l7 field" } %>
    <%= form.input :value, wrapper_html: { class: "col s12 m2 l2 field" } %>
  </div>

  <div class="actions">
    <%= form.submit(t('save'), class: 'waves-effect waves-light btn') %>
  </div>
<% end %>
