<h1><%= t('products.title') %></h1>

<%= button_to_new(new_product_path) %>

<%= search_form(:name_or_barcode_cont) %>

<%= form_tag delete_selected_products_path, method: :delete do %>
  <%= button_to_delete_selected %>

  <table>
    <thead>
      <tr>
        <th></th>
        <th><%= sort_link(@q, :barcode) %></th>
        <th class="hide-on-med-and-down"><%= sort_link(@q, :name) %></th>
        <th class="hide-on-med-and-down"><%= sort_link(@q, :value) %></th>
        <th><%= t('activerecord.models.order.other') %></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td>
            <%= check_box_tag 'products[]', product.id, nil, id: "products_#{product.id}" %>
            <label for="<%= "products_#{product.id}" %>"></label>
          </td>
          <td><%= link_to product.barcode, edit_product_path(product) %></td>
          <td class="hide-on-med-and-down"><%= product.name %></td>
          <td class="hide-on-med-and-down"><%= number_to_currency product.value %></td>
          <td><%= link_to product.orders.count, orders_path(q: { product_orders_product_id_eq: product.id }) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate_entries(@products) %>
<% end %>
